phecda_client/android_project/channel/assets/
phecda_client/android_project/channel/build/intermediates/
phecda_client/android_project/.idea/
phecda_client/android_project/libcocos/build/
phecda_client/android_project/libservice/build/
phecda_client/android_project/.idea/libraries/
phecda_client/android_project/.gradle/
